.episodeName{
  height: 25rem;
   flex-direction: column; /* Change flex direction to column */
  justify-content: flex-start; /* Optional: Align content to the top */
  align-items: flex-start; /* Optional: Align items to the start */
  color: whitesmoke;
  background-image: url(
    "../images/Transparent.png"
  );
  background-size: cover ;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.lumi-text {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #ffffffc8, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value (0.8) as needed */
    font-size: 4vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    display: inline-flex;
  }
  
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }


  .grid-container {
    display:inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    align-items: center; /* Center vertically within the grid */
    justify-content: center;
  }
  
  .item-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-image: url("../images/cardbgg.png");
    height: fit-content;
    color: #fff;
    margin: auto; /* Center the card horizontally */

  }
  
  .item-card input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .item-card-content {
    flex: 1;
  }
  
  /* custom-button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(12, 141, 12);
    background: transparent;
    color: #061301;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth color change */
  
  
  /*  */

  /* ShowPage.css */

.custom-button {
  font-size: 1rem; /* Increase button size */
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 1.5em; /* Increase padding for a larger button */
  border: 2px solid rgb(12, 141, 12);
  background: transparent;
  color: #061301;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s; /* Add transition effect */
  border-radius: 50px;
  margin-top: 1%;
}

.custom-button:enabled {
  background-color: green; /* Green background when enabled */
  color: white; /* White text color when enabled */
  cursor: pointer;
}

.custom-button:disabled {
  background-color: grey; /* Grey background when disabled */
  color: #4d4a4a; /* Light grey text color when disabled */
  cursor: not-allowed;
}
/* Custom checkbox styles */
.custom-checkbox-label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.custom-checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox-label input:checked ~ .checkmark {
  background-color: #117200;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
